@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image:url('/9dd17682f2d45333d0e12f79270302cb.png') ;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 82vh;
}

*{
  /* box-sizing: border-box; */
  transition: all .5s ;
}
p{
  transition: all 0s ;

}
